<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.title %}
            <li>
              {{ site.title | escape }}
            </li>
          {% endif %}
          {% if site.github_username%}<li><a href="https://github.com/{{ site.github_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a></li>{% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.author %}
            <li>
              {{ site.author | escape }}
            </li>
          {% endif %}
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>
          <a href="https://cs.seas.gwu.edu/">Computer Science</a> <br/>
          <a href="https://www.gwu.edu/">George Washington University</a>
        </p>

      </div>
    </div>

  </div>

</footer>
